<nav class="navigation">
    <div class="wrapper">
        <div class="brand-and-toggle">
            <a rel="home" href="/{% if lang != 'en' %}{{ lang }}{% endif %}">
                <span>{% __ "site-title" %}</span>
                {% include "svg/shapes-brand.svg" %}
            </a>
            <button id="navigation-toggle" aria-expanded="false" aria-label="{% __ 'menu' %}"> {% include 'svg/menu.svg' %} {% include 'svg/menu-close.svg' %} </button>
        </div>
        <div class="menu">
            {% set navItems = collections['all-' + lang] | eleventyNavigation %}
            <ul role="list">
                {% for item in navItems %}
                <li>
                    <a class="link" href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title | renderContent('md') | striptags | safe }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
