<nav class="navigation">
    <div class="wrapper">
        <div class="brand-and-toggle">
            <a class="standalone" rel="home" href="/{% if lang != 'en' %}{{ lang }}{% endif %}">
                <span>{% __ "site-title" %}</span>
                {% include "svg/shapes-brand.svg" %}
            </a>
            <button id="navigation-toggle" aria-expanded="false" aria-label="{% __ 'menu' %}"> {% includeSvg 'menu-open.svg' %} {% includeSvg 'menu-close.svg' %} </button>
        </div>
        <div class="menu">
            {% set navItems = collections['all-' + lang] | eleventyNavigation %}
            <ul role="list">
                {% for item in navItems %}
                <li>
                    <a class="link" href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title | renderContent('md') | striptags | safe }}</a>
                        {% if item.children.length > 0 %}
                            <button aria-expanded="false" aria-label="{{ item.title | renderContent('md') | striptags | safe }}">{% include "svg/disclosure.svg.njk" %}</button>
                            <ul role="list">
                                {% for child in item.children %}
                                <li>
                                    <a class="link" href="{{ child.url }}"{% if page.url == child.url %} aria-current="page"{% endif %}>{{ child.title | renderContent('md') | striptags | safe }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
