<footer>
    <div class="wrapper grid">
        <div class="contact flow">
            <h2 class="h4">{% __ 'contact-us' %}</h2>
            <p class="h5">{% __ 'email' %}</p>
            <p class="small"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
            <p class="h5">{% __ 'phone' %}</p>
            <p class="small"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
            <p class="h5">{% __ 'address' %}</p>
            <address>
                {{ contact.address | renderContent("md") | safe }}
            </address>
        </div>
        <div class="idrc-ocadu">
            <div class="inner">
            <a rel="external" href="https://idrc.ocadu.ca">{% includeSvg "idrc.svg", site[lang].author, null, false %}</a>
            <a rel="external" href="https://ocadu.ca">{% includeSvg "ocadu.svg", site[lang].institution, null, false %}</a>
            </div>
        </div>
        <div class="funders">
            <h2 class="h4">{% __ 'funded-by' %}</h2>
            <p class="small">
                {% if lang == 'en' %}
                <a rel="external" href="https://www.canada.ca/en/employment-social-development.html" hreflang="en">{% includeSvg "esdc.svg", translations[lang].esdc, null, false %}</a>
                {% elseif lang =='fr' %}
                <a rel="external" href="https://www.canada.ca/fr/emploi-developpement-social.html" hreflang="fr">{% includeSvg "edsc.svg", translations[lang].esdc, null, false %}</a>
                {% endif %}
            </p>
        </div>
        <div class="license-sources-credits flow">
            <p class="small">
                <a rel="external" href="https://creativecommons.org/licenses/by/4.0/">
                {% includeSvg "cc-by.svg", translations[lang].cc-by, null, false %}
                </a><br />
                {% __ 'license' %}
            </p>
                {% set sourcesAndCredits = collections['back-matter-' + lang] %}
            <p class="small">{% for item in sourcesAndCredits %}<a href="{{ item.url }}">{{ item.data.title }}</a>{% if not loop.last %} {% __ 'and' %} {% endif %}{% endfor %}</p>
        </div>
    </div>
</footer>
