{#-- {% uioStyleProps %} --#}
{% set allCss %} {% include '../../../assets/styles/all.css' %} {% endset %}
<style type="text/css">
    {{ allCss | safe }}
</style>

{% set printCss %} {% include '../../../assets/styles/print.css' %} {% endset %}
<style type="text/css" media="print">
    {{ printCss | safe }}
</style>

{% set webCss %} {% include '../../../assets/styles/web.css' %} {% endset %}
<style type="text/css" media="screen">
    {{ webCss | safe }}
</style>

<style>
.w1, .w2, .w3, .w4 {
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.w1, .w2, .w3, .w4, .w7 {
    fill: var(--fl-bgColor, var(--fill));
}
.w1 {
    --fill: #E8B91C;
}
.w2 {
    --fill: #F6D872;
}
.w3 {
    --fill: #F9EEC6;
}
.w4 {
    --fill: #fff;
}
.w5 {
    stroke: var(--fl-fgColor, #AD8911);
}
.w6 {
    fill: var(--fl-fgColor, #E8451C);
}
.w7 {
    fill: var(--fl-fgColor, var(--color-black));
}
.w8 {
    fill: var(--fl-fgColor, #CB3335);
}

.p1, .p2, .p3, .p4, .p6 {
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.p1, .p2, .p3, .p4, .p6 {
    fill: var(--fl-bgColor, var(--fill));
}

.p7 {
    stroke: var(--fl-fgColor, var(--color-black));
}

.p5, .p8 {
    fill: var(--fl-fgColor, var(--fill));
}

.p1 {
    --fill: #7BD383;
}

.p2 {
    --fill: #D6E9CC;
}

.p3 {
    --fill: #B7E1B4;
}

.p4 {
    --fill: #99DA9B;
}

.p5 {
    --fill: #2A842D;
}

.p8 {
    --fill: var(--color-black);
}
</style>
