<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  {% include 'partials/global/meta.njk' %}
  <title>{{ title }}</title>
  {% include "partials/global/stylesheets.njk" %}
  {% include "svg/filters.svg" %}
  {% getBundle "fontawesome" %}
</head>
<body>
  {% include "partials/global/header.njk" %}
  {#-- {% include "partials/components/navigation.njk" %} --#}
  <main id="main" class="{{ pageType if pageType else 'page' }}">
    {% block banner %}
    <div class="banner">
      <div class="wrapper">
        <div class="banner__content flow">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
    {% endblock %}
    <nav class="wrapper">
        <div id="toc">
        <ol></ol>
        </div>
    </nav>
    <div class="content">
    {% block content %}
    <article>
      <div class="wrapper flow">
      {{ content | safe }}
      </div>
    </article>
    {% endblock %}
    </div>
  </main>
  {% include "partials/global/footer.njk" %}
  {#-- {% uioCustomInit lang, supportedLanguages[lang].dir %} --#}
  <script type="module">
    class ReversedList extends HTMLElement {
      static tagName = "reversed-list";

      constructor() {
          super();

          this._init = this._init.bind(this);
      }

      connectedCallback() {
          if (this.children.length) {
            this._init();
          }
        }

      _init() {
          this.ol = this.querySelector('ol');

          if (this.ol) {
            this.ol.setAttribute("reversed", true);
          }
      }
    }

    window.customElements.define(ReversedList.tagName, ReversedList);
  </script>
</body>
</html>
