{% extends 'layouts/base.njk' %}

{% set bodyClass = 'chapter' %}

{% block content %}
    <article>
        <div class="wrapper flow">
            {{ content | safe }}

            {% include "partials/components/pagination.njk" %}
        </div>
    </article>
{% endblock %}
