{% extends 'layouts/base.njk' %}

{% set bodyClass = 'chapter' %}

{% block content %}
    <article>
        <div class="wrapper flow">
            {% if introduction %}
            <div class="introduction flow">
                {{ introduction | renderContent("md") | safe }}
            </div>
            {% endif %}
            {{ content | safe }}

            {% include "partials/components/pagination.njk" %}
        </div>
    </article>
{% endblock %}
