<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  {% include 'partials/global/meta.njk' %}
  <title>{{ title }}</title>
  {% set allCss %} {% include '../../assets/styles/all.css' %} {% endset %}
  {% set printCss %} {% include '../../assets/styles/print.css' %} {% endset %}
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <style>
      {{ allCss | safe }}
      {{ printCss | safe }}
      :root {
      {% for chapter in collections['chapters-' + lang] %}{% if chapter.data.backgroundImage and chapter.data.backgroundImage !== '' %}
        {% if deploy.local %}
        {% set backgroundImagePath = 'src' + chapter.data.backgroundImage %}
        --background-image-{{ loop.index }}:url('data:image/jpg;base64,{{ backgroundImagePath | base64Image }}');
        {% else %}
        --background-image-{{ loop.index }}:url('{{ deploy.url }}{{ chapter.data.backgroundImage }}');
        {% endif %}
      {% endif %}{% endfor %}
      }
  </style>
</head>
<body>
  <main class="export">
  <div class="front-matter flow title">
        <div class="container">
            {% include "svg/shapes.svg" %}
            <h1>{% __ "site-title" %}</h1>
            <p class="byline">{% __ "byline" %}</p>
            <div class="logos-and-version">
                {% includeSvg "idrc.svg", site[lang].author %}
                {% includeSvg "ocadu.svg", site[lang].institution %}
                <span class="version">{% __ 'version' %} {{ pkg.version }}</span>
            </div>
        </div>
    </div>
    <div class="front-matter flow toc">
        <div class="container">
            <h2 data-toc>{% __ "toc" %}</h2>
            <nav>
                <div id="toc">
                    <ol></ol>
                </div>
            </nav>
        </div>
    </div>
    {% for chapter in collections['chapters-' + lang] %}
    <div class="chapter {{ chapter.data.type }} flow" data-chapter="{{ loop.index }}">
        {% if chapter.data.type === 'narrative' %}
        {% set pieces = chapter.data.title | split(': ') %}
        <h2 data-narrative><span class="surtitle">{{ pieces[0] }}</span> {{ pieces[1] | renderContent('md') | replace('<p>', '') | replace('</p>', '') | safe }}</h2>
        {% else %}
        <h2>{{ chapter.data.title | renderContent('md') | replace('<p>', '') | replace('</p>', '') | safe }}</h2>
        {% endif %}
        {% if chapter.data.introduction and chapter.data.introduction !== '' %}
        <div class="introduction flow">
            {{ chapter.data.introduction | renderContent("md") | safe }}
        </div>
        {% endif %}
        {{ chapter.templateContent | renderContent('md') | safe }}
    </div>
    {% endfor %}
    {% for backMatter in collections['back-matter-' + lang] %}
    <div class="back-matter flow">
        <h2>{{ backMatter.data.title }}</h2>
        {{ backMatter.templateContent | renderContent('md') | safe }}
    </div>
    {% endfor %}
  </main>
</body>
</html>
