<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  {% include 'partials/global/meta.njk' %}
  <title>{{ title }}</title>
  {% set allCss %} {% include '../../assets/styles/all.css' %} {% endset %}
  {% set printCss %} {% include '../../assets/styles/print.css' %} {% endset %}
  {% if eleventy.env.runMode === 'serve' %}
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <style>
    .pagedjs_pages {
        display: flex;
        flex-direction: column;
        gap: 0.25in;
        margin-block: 0.25in;
        margin-inline: auto;
        width: max-content;
    }

    .pagedjs_page {
        box-shadow: rgba(3, 4, 7, 0.13) 0px 3px 5px -2px, rgba(3, 4, 7, 0.15) 0px 7px 14px -5px,
            0 0 0 1px #aaa;
    }

    .pagedjs_page[data-page-number="3"],
    .pagedjs_page[data-page-number="6"],
    .pagedjs_page[data-page-number="10"],
    .pagedjs_page[data-page-number="19"],
    .pagedjs_page[data-page-number="49"] {
        background: black;

        .pagedjs_margin-content {
            display: none;
        }
    }

    .pagedjs_chapter-5_first_page {
        background-image: var(--background-image-5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pagedjs_chapter-6_first_page {
        background-image: var(--background-image-6);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pagedjs_chapter-7_first_page {
        background-image: var(--background-image-7);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pagedjs_chapter-8_first_page {
        background-image: var(--background-image-8);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pagedjs_chapter-5_first_page .pagedjs_margin-content,
    .pagedjs_chapter-6_first_page .pagedjs_margin-content,
    .pagedjs_chapter-7_first_page .pagedjs_margin-content,
    .pagedjs_chapter-8_first_page .pagedjs_margin-content {
        display: none;
    }
  </style>
  {% endif %}
  <style>
      {{ allCss | safe }}
      {{ printCss | safe }}
      :root {
      {% for chapter in collections['chapters-' + lang] %}{% if chapter.data.backgroundImage and chapter.data.backgroundImage !== '' %}
        {% if deploy.local %}
        --background-image-{{ loop.index }}:url('http://localhost:8080{{ chapter.data.backgroundImage }}');
        {% else %}
        --background-image-{{ loop.index }}:url('{{ deploy.url }}{{ chapter.data.backgroundImage }}');
        {% endif %}
      {% endif %}{% endfor %}
      }
  </style>
</head>
<body>
  <main class="export">
  <div class="front-matter flow title">
        <div class="container">
            {% includeSvg "shapes.svg", "" %}
            <h1>{% __ "site-title" %}</h1>
            <p class="byline">{% __ "byline" %}</p>
            <div class="logos-and-version">
                {% includeSvg "idrc.svg", site[lang].author %}
                {% includeSvg "ocadu.svg", site[lang].institution %}
                <span class="version">{% __ 'version' %} {{ pkg.version }}</span>
            </div>
        </div>
    </div>
    <div class="front-matter flow toc">
        <div class="container">
            <h2 data-toc>{% __ "toc" %}</h2>
            <nav>
                <div id="toc">
                    <ol></ol>
                </div>
            </nav>
        </div>
    </div>
    {% for chapter in collections['chapters-' + lang] %}
    <div class="chapter {{ chapter.data.type }} flow" data-chapter="{{ loop.index }}">
        {% if chapter.data.type === 'narrative' %}
        <div class="hidden-title">{{ chapter.data.title | renderContent("md") | striptags }}</div>
        {% set pieces = chapter.data.title | split(': ') %}
        <h2 data-narrative><span class="surtitle">{{ pieces[0] }}</span> {{ pieces[1] | renderContent('md') | replace('<p>', '') | replace('</p>', '') | safe }}</h2>
        {% else %}
        <h2>{{ chapter.data.title | renderContent('md') | replace('<p>', '') | replace('</p>', '') | safe }}</h2>
        {% endif %}
        {% if chapter.data.introduction and chapter.data.introduction !== '' %}
        <div class="introduction flow">
            {{ chapter.data.introduction | renderContent("md") | safe }}
        </div>
        {% endif %}
        {{ chapter.templateContent | renderContent('md') | safe }}
    </div>
    {% endfor %}
    {% for backMatter in collections['back-matter-' + lang] %}
    <div class="back-matter flow">
        <h2>{{ backMatter.data.title }}</h2>
        {{ backMatter.templateContent | renderContent('md') | safe }}
    </div>
    {% endfor %}
  </main>
</body>
</html>
