{% extends 'layouts/base.njk' %}

{% set bodyClass = 'home' %}
{% set chapterTitle = title | string %}
{% set title = translations[lang]['site-title'] %}

{% block content %}
    <article>
        <div class="wrapper flow">
            {{ content | safe }}
            {% include "partials/components/pagination.njk" %}
        </div>
    </article>
{% endblock %}
