---
permalink: /manifest.webmanifest
---
{
  "name": "{% __ "site-title", 'en' %} / {% __ "site-title", 'fr' %}",
  "icons": [
    { "src": "/icon-192.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/icon-mask.png", "type": "image/png", "sizes": "512x512", "purpose": "maskable" },
    { "src": "/icon-512.png", "type": "image/png", "sizes": "512x512" }
  ]
}
