---
permalink: /manifest-en.json
---
{
"name": "{{ site.en.title }}",
  "icons": [
    { "src": "/icon-192-en.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/icon-mask-en.png", "type": "image/png", "sizes": "512x512", "purpose": "maskable" },
    { "src": "/icon-512-en.png", "type": "image/png", "sizes": "512x512" }
  ]
}
