---
permalink: /manifest-fr.json
---
{
  "name": "{{ site.fr.title }}",
  "icons": [
    { "src": "/icon-192-fr.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/icon-mask-fr.png", "type": "image/png", "sizes": "512x512", "purpose": "maskable" },
    { "src": "/icon-512-fr.png", "type": "image/png", "sizes": "512x512" }
  ]
}
