:root {
    /** Font Weights **/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Type Scale */
    /* stylelint-disable-next-line max-line-length */

    /* @link https://utopia.fyi/type/calculator?c=360,18,1.125,1240,20,1.2,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--1: clamp(1rem, 0.983rem + 0.0758vw, 1.0417rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.2656rem, 1.1697rem + 0.4261vw, 1.5rem);
    --step-2: clamp(1.4238rem, 1.2699rem + 0.6839vw, 1.8rem);
    --step-3: clamp(1.6018rem, 1.3735rem + 1.0149vw, 2.16rem);
    --step-4: clamp(1.802rem, 1.4789rem + 1.4363vw, 2.592rem);
    --step-5: clamp(2.0273rem, 1.5842rem + 1.9693vw, 3.1104rem);

    /** Colors **/
    --color-dark-green: #2a842d;
    --color-green: #7bd383;
    --color-lime: #dee81c;
    --color-lightest-yellow: #f9eec6;
    --color-light-yellow: #f6d872;
    --color-yellow: #e8b91c;
    --color-red: #cb3335;
    --color-white: #fff;
    --color-black: #000;
}

/* Font-family set on the body so that it will work with UIO */
:where(body) {
    /** Typography **/
    --family-serif: var(--fl-font-family, "Martel", serif);
    --family-serif-alt: var(--fl-font-family, "Diphylleia", serif);
    --family-display: var(--fl-font-family, "Mulish", sans-serif);
}
