:root {
    /** Font Weights **/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Type Scale */
    --step-0: 0.75rem;
    --step-1: 0.875rem;
    --step-2: 1rem;
    --step-3: 1.125rem;
    --step-4: 1.5rem;
    --step-5: 3rem;

    /** Colors **/
    --color-dark-green: #2a842d;
    --color-green: #7bd383;
    --color-lime: #dee81c;
    --color-lightest-yellow: #f9eec6;
    --color-light-yellow: #f6d872;
    --color-yellow: #e8b91c;
    --color-red: #cb3335;
    --color-white: #fff;
    --color-black: #000;
}

/* Font-family set on the body so that it will work with UIO */
:where(body) {
    /** Typography **/
    --family-serif: var(--fl-font-family, "Martel", serif);
    --family-serif-alt: var(--fl-font-family, "Diphylleia", serif);
    --family-display: var(--fl-font-family, "Mulish", sans-serif);
}
