/* stylelint-disable liberty/use-logical-spec */

@charset "UTF-8";

@font-face {
    font-family: Diphylleia;
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.bunny.net/diphylleia/files/diphylleia-latin-400-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/diphylleia/files/diphylleia-latin-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Martel;
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.bunny.net/martel/files/martel-latin-400-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/martel/files/martel-latin-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Martel;
    font-style: normal;
    font-weight: 700;
    src:
        url("https://fonts.bunny.net/martel/files/martel-latin-700-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/martel/files/martel-latin-700-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-400-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-500-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-500-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-600-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-600-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-700-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-700-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Mulish;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src:
        url("https://fonts.bunny.net/mulish/files/mulish-latin-800-normal.woff2") format("woff2"),
        url("https://fonts.bunny.net/mulish/files/mulish-latin-800-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    /** Font Weights **/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --family-serif: martel, serif;
    --family-serif-alt: diphylleia, serif;
    --family-display: mulish, sans-serif;

    /** Colors **/
    --color-dark-green: #2a842d;
    --color-green: #7bd383;
    --color-dark-lime: #b2ba19;
    --color-lime: #dee81c;
    --color-lightest-yellow: #f9eec6;
    --color-light-yellow: #f6d872;
    --color-yellow: #e8b91c;
    --color-red: #cb3335;
    --color-white: #fff;
    --color-black: #000;
    --color-soft-black: #222;
}

/* Reset @see https://piccalil.li/blog/a-more-modern-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
p,
figure {
    margin: 0;
}

ul,
ol {
    margin-block: 0;
    padding-inline: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

h1,
h2,
h3,
button,
input,
label {
    line-height: calc(1.4 * var(--fl-lineSpace-factor, 1));
}

a:not([class]) {
    color: currentcolor;
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: block;
    max-inline-size: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: var(--family-serif);
}

h1,
h2,
h3,
h4,
h5,
.h5 {
    font-family: var(--family-display);
    line-height: 1;
}

h1 em,
h2 em {
    font-family: var(--family-serif-alt);
    font-style: normal;
    font-weight: var(--font-weight-normal);
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-extrabold);
    text-wrap: balance;
}

h4,
h5,
h6 strong {
    font-weight: var(--font-weight-bold);
}

a:visited {
    color: currentcolor;
}

/* Utils */
.flow > * + *,
li > * + * {
    margin-top: var(--flow-space, 1em);
}

.visually-hidden {
    block-size: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

ul:has(svg) {
    list-style: none;
}

ul:has(svg) li {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

ul:has(svg) h4 {
    margin-top: 0;
}

ul:has(svg) li + li {
    margin-top: var(--step-2);
}

ul:has(svg) li > :first-child {
    flex-grow: 1;
    inline-size: 60px;
}

ul:has(svg) li > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    margin-top: 0;
    min-inline-size: 50%;
}

ul:has(svg) li > div > * + * {
    margin-top: 1em;
}

svg.full {
    width: 100%;
}

.two-column {
    align-items: center;
    break-inside: avoid;
    display: flex;
    gap: 1.5rem;
}

.two-column ol {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.two-column > * {
    width: 50%;
}

.w-80 {
    width: 80;
}

.two-column svg {
    height: auto;
    width: auto;
}

.two-column.flexible > * {
    width: auto;
}
