@charset "UTF-8";

/* 1. Abstracts */
:root {
    /** Font Weights **/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Type Scale */
    /* stylelint-disable max-line-length */

    /* @link https://utopia.fyi/type/calculator?c=360,18,1.125,1240,20,1.2,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* stylelint-enable max-line-length */

    --step--1: clamp(1rem, 0.983rem + 0.0758vw, 1.0417rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.2656rem, 1.1697rem + 0.4261vw, 1.5rem);
    --step-2: clamp(1.4238rem, 1.2699rem + 0.6839vw, 1.8rem);
    --step-3: clamp(1.6018rem, 1.3735rem + 1.0149vw, 2.16rem);
    --step-4: clamp(1.802rem, 1.4789rem + 1.4363vw, 2.592rem);
    --step-5: clamp(2.0273rem, 1.5842rem + 1.9693vw, 3.1104rem);

    /** Colors **/
    --color-dark-green: #2a842d;
    --color-green: #7bd383;
    --color-lime: #dee81c;
    --color-lightest-yellow: #f9eec6;
    --color-light-yellow: #f6d872;
    --color-yellow: #e8b91c;
    --color-red: #cb3335;
    --color-white: #fff;
    --color-black: #000;
}

/* 2. Base */

/* Reset @see https://piccalil.li/blog/a-more-modern-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-text-size-adjust: none;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
p,
figure {
    margin-block: 0;
    margin-inline: 0;
}

ul,
ol {
    margin-block: 0;
    padding-inline: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

h1,
h2,
h3,
button,
input,
label {
    line-height: calc(1.4 * var(--fl-lineSpace-factor, 1));
}

h1,
h2,
h3 {
    text-wrap: balance;
}

a:not([class]) {
    color: currentcolor;
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: block;
    max-inline-size: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
}

/* Utils */
.flow > * + *,
li > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.visually-hidden {
    block-size: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* Base */
body {
    /* Font-family set on the body so that it will work with UIO */

    /** Typography **/
    --family-serif: var(--fl-font-family, "Martel", serif);
    --family-serif-alt: var(--fl-font-family, "Diphylleia", serif);
    --family-display: var(--fl-font-family, "Mulish", sans-serif);

    background-color: var(--fl-bgColor, var(--color-white));
    color: var(--fl-fgColor, var(--color-black));
    font-family: var(--family-serif);
    font-size: var(--step-0);
    line-height: var(--fl-lineSpace);
}

.wrapper {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 65ch;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
}

hr {
    border-block-end: none;
    border-block-start: 1px solid var(--color-green);
    border-inline: none;
}

.flow > * + hr {
    margin-block-start: 2rem;
}

.flow > hr + * {
    margin-block-start: 2rem;
}

ol ul,
ul ul {
    margin-inline-start: 1.5rem;
}

/* Selection */
::selection {
    background-color: var(--fl-selectedBgColor, highlight);
    color: var(--fl-selectedFgColor, highlighttext);
}

/* Image Theming */
.fl-theme-bw,
.fl-theme-wb,
.fl-theme-lgdg,
.fl-theme-gw,
.fl-theme-gd {
    img {
        filter: grayscale(1);
    }
}

.fl-theme-bw,
.fl-theme-gw {
    a img,
    a:active img {
        filter: grayscale(1);
    }

    a:hover img,
    a:hover:focus img,
    a:hover:active img {
        filter: grayscale(1) invert();
    }
}

.fl-theme-wb,
.fl-theme-gd,
.fl-theme-lgdg {
    a img,
    a:active img {
        filter: grayscale(1) invert();
    }

    a:hover img,
    a:hover:focus img,
    a:hover:active img {
        filter: grayscale(1);
    }
}

.fl-theme-by,
.fl-theme-yb {
    img {
        filter: url("#yellow");
    }
}

.fl-theme-by {
    a img,
    a:active img {
        filter: url("#yellow");
    }

    a:hover img,
    a:hover:focus img,
    a:hover:active img {
        filter: grayscale(1) invert();
    }
}

.fl-theme-yb {
    a img,
    a:active img {
        filter: grayscale(1) invert();
    }

    a:hover img,
    a:hover:focus img,
    a:hover:active img {
        filter: url("#yellow");
    }
}

.fl-theme-bbr {
    img,
    a img,
    a:active img {
        filter: url("#brown");
    }

    a:hover img,
    a:hover:focus img,
    a:hover:active img {
        filter: url("#brown") invert();
    }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family-display);
    margin-block: 0;
}

h1,
h2 {
    font-weight: var(--font-weight-extrabold);
}

h3,
h4,
h5,
h6 strong {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

blockquote {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

/* 3. Global */

/** TODO. */

/* 4. Components */
reversed-list {
    display: block;
}

nav {
    /** TODO. */
}

/* Collections */

/** TODO. */
