:root {
    /* Type Scale */
    --step--1: 10pt;
    --step-0: 12pt;
    --step-1: 14pt;
    --step-2: 16pt;
    --step-3: 18pt;
    --step-4: 24pt;
    --step-5: 36pt;
    --step-6: 44pt;
}

/* 2. Base */

/* Utils */

/* Base */
body {
    /** Typography **/

    font-family: var(--fi-font-family-body);
    font-size: var(--step-0);
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--fi-color-green-300);
}

.flow > * + hr {
    margin-top: 2rem;
}

.flow > hr + * {
    margin-top: 2rem;
}

ol ul,
ul ul {
    margin-left: 1.5rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 0;
    page-break-after: avoid;
}

h1,
.chapter h2,
.back-matter h2 {
    font-size: var(--step-6);
}

h3 {
    font-size: var(--step-4);
}

blockquote {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

.surtitle,
.chapter.narrative .introduction h3 {
    font-family: var(--fi-font-family-display-alt);
    font-size: var(--step-1);
    font-weight: var(--fi-font-weight-normal);
}

.surtitle {
    display: block;
    margin-top: 8pt;
}

.surtitle + p {
    margin-top: 32pt;
}

/* 3. Structure */

.title {
    page: title;
    page-break-before: auto;
    page-group: start;
}

.toc {
    counter-reset: page 1;
    page: toc;
    page-break-before: auto;
    page-group: start;
}

.chapter {
    page: chapter;
    page-break-before: auto;
    page-group: start;
}

.hidden-title {
    display: none;
}

[data-chapter="5"] {
    page: narrative-1;
    page-group: start;
}

[data-chapter="5"] .hidden-title {
    string-set: narrative-1-title content();
}

[data-chapter="6"] {
    page: narrative-2;
    page-group: start;
}

[data-chapter="6"] .hidden-title {
    string-set: narrative-2-title content();
}

[data-chapter="7"] {
    page: narrative-3;
    page-group: start;
}

[data-chapter="7"] .hidden-title {
    string-set: narrative-3-title content();
}

[data-chapter="8"] {
    page: narrative-4;
    page-group: start;
}

[data-chapter="8"] .hidden-title {
    string-set: narrative-4-title content();
}

.journey-map-title {
    margin-top: 0;
    page-break-before: always;
}

.page-break-before-always {
    page-break-before: always;
}

.back-matter {
    color: var(--fi-color-white);
    page: back-matter;
    page-break-before: auto;
    page-group: start;
}

.barrier-title {
    margin-bottom: 1rem;
    margin-left: calc(60px + 1.5rem);
}

.barrier ul {
    list-style-position: outside;
    margin-left: 1.5rem;
}

.two-column.flexible.barrier > :first-child {
    width: 60px;
}

.two-column.flexible.barrier > :first-child img {
    height: auto;
}

.two-column.flexible.barrier > :last-child {
    width: calc(100% - 60px - 1.5rem);
}

@page {
    background-color: var(--fi-color-white);
    margin: 1.125in;
    size: letter;
}

@page title {
    background-color: var(--fi-color-lime-500);
    color: black;
}

@page toc {
    background-color: var(--fi-color-black);
    color: var(--fi-color-white);
}

@page chapter {
    @top-left {
        content: string(chapter-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page chapter:first-of-group {
    background-color: var(--fi-color-black);
    color: var(--fi-color-white);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page narrative-1 {
    @top-left {
        content: string(narrative-1-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page narrative-1:first-of-group {
    background-image: var(--background-image-5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--fi-color-white);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page narrative-2 {
    @top-left {
        content: string(narrative-2-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page narrative-2:first-of-group {
    background-image: var(--background-image-6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--fi-color-white);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page narrative-3 {
    @top-left {
        content: string(narrative-3-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page narrative-3:first-of-group {
    background-image: var(--background-image-7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--fi-color-white);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page narrative-4 {
    @top-left {
        content: string(narrative-4-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page narrative-4:first-of-group {
    background-image: var(--background-image-8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--fi-color-white);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page back-matter {
    background-color: var(--fi-color-black);
    color: var(--fi-color-white);

    @top-left {
        content: string(back-matter-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page back-matter:first-of-group {
    @top-left {
        content: normal;
    }
}

/* Front Matter */

.front-matter .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 8.75in;
    margin: 0;
    padding: 0;
}

.title .container {
    background-color: var(--fi-color-lime-500);
    justify-content: flex-end;
}

.title h1 {
    line-height: 1.26;
    margin-top: 32pt;
}

.title div {
    white-space: nowrap;
}

.title h1 em {
    font-family: var(--fi-font-family-display-alt);
    font-style: normal;
    font-weight: var(--fi-font-weight-regular);
}

.title .byline {
    font-size: var(--step-1);
    margin-top: 20pt;
}

.title .logos-and-meta {
    align-items: center;
    display: flex;
    gap: 20pt;
    justify-content: space-between;
    margin-top: 210pt;
    width: 100%;
}

.title .logos-and-meta .license-and-version {
    font-family: var(--fi-font-family-display);
    font-size: var(--step--1);
    margin-left: auto;
    text-align: right;
}

.title .logos-and-meta .license-and-version .license a {
    display: block;
}

.title .logos-and-meta .license-and-version .license svg {
    height: auto;
    width: 52pt;
}

.license-image {
    line-height: 1;
}

.toc .container {
    background-color: var(--fi-color-black);
    color: var(--fi-color-white);
    justify-content: center;
}

.toc nav {
    margin-top: 24pt;
    width: 100%;
}

.toc ol {
    -prince-pdf-tag-type: TOC; /* stylelint-disable-line value-keyword-case */
}

.toc ol,
.flow ul:has(svg) {
    padding-left: 0;
}

.toc li {
    border-top: solid 1pt currentcolor;
    font-size: var(--step-1);
    list-style: none;
    -prince-pdf-tag-type: TOCI; /* stylelint-disable-line value-keyword-case */
}

.toc li a {
    display: block;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-decoration: none;
}

.toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}

.chapter h2 {
    color: var(--fi-color-lime-500);
    line-height: 1.26;
    margin-top: 4.5in;
    string-set: chapter-title content();
}

.chapter.narrative h2 {
    color: var(--fi-color-white);
    font-size: var(--step-5);
    font-weight: var(--fi-font-weight-normal);
    margin-top: 0;
}

.chapter[data-chapter="9"] h3 {
    margin-top: 1em;
}

.chapter h2 em {
    color: var(--fi-color-white);
    font-family: var(--fi-font-family-display-alt);
    font-style: normal;
    font-weight: var(--fi-font-weight-regular);
}

.chapter h2 + *,
.chapter[data-chapter="1"] h3 {
    break-before: page;
    margin-top: 2.325in;
}

.chapter hr + h3,
.chapter.narrative h2 + * {
    break-before: auto;
}

.chapter.narrative .introduction + h3 {
    break-before: page;
}

.chapter.narrative .introduction {
    border-left: 1px solid var(--fi-color-lime-500);
    color: var(--fi-color-white);
    margin-left: -24pt;
    margin-top: 96pt;
    padding-left: 32pt;
}

.chapter.narrative .introduction p {
    font-family: var(--fi-font-family-display);
    font-size: var(--step-0);
    font-weight: var(--fi-font-weight-medium);
}

.chapter.narrative .introduction li + li {
    margin-top: var(--step-1);
}

.flow > h3 + * {
    --flow-space: 24pt;
}

.chapter.narrative h3:nth-of-type(2),
.chapter:has([id="about-this-guidebook"]) h3 {
    break-before: page;
}

.back-matter h2 {
    font-size: var(--step-4);
    line-height: 1.26;
    margin-top: 32pt;
    string-set: back-matter-title content();
}

.back-matter li {
    font-size: var(--step--1);
}

/* 4. Components */
.two-column {
    margin-left: 0;
    padding-right: 1.125rem;
    width: 6.25in;
}

.full {
    margin-bottom: var(--step-5);
    margin-top: var(--step-5);
}

.web,
li svg.web {
    display: none;
}

.journey-map {
    margin-top: 0;
}

.journey-map + h3 {
    break-before: always;
}

.journey-map-page-1,
.journey-map-page-2 {
    height: auto;
}

.journey-map-page-1 {
    position: absolute;
}

.journey-map-page-1.narrative-1 {
    bottom: -1.125in;
    left: 1in;
    width: 151pt;
}

.journey-map-page-2.narrative-1 {
    width: 236pt;
}

.journey-map-page-1.narrative-2 {
    bottom: -1.125in;
    left: 1in;
    width: 151pt;
}

.journey-map-page-2.narrative-2 {
    width: 236pt;
}

.journey-map-page-1.narrative-3 {
    bottom: -1.125in;
    left: 1in;
    width: 151pt;
}

.journey-map-page-2.narrative-3 {
    width: 236pt;
}

.journey-map-page-1.narrative-4 {
    bottom: -1.125in;
    left: 1in;
    width: 151pt;
}

.journey-map-page-2.narrative-4 {
    width: 236pt;
}

.journey-map .scenario {
    position: relative;
}

.journey-map.narrative-1-fr .scenario {
    top: -48pt;
}

.journey-map.narrative-1 li {
    width: 182pt;
}

.journey-map.narrative-1 .scenario li:first-child {
    left: 164pt;
    top: 88pt;
}

.journey-map.narrative-1 .scenario li:nth-child(2) {
    left: 164pt;
    top: 163pt;
}

.journey-map.narrative-1 .scenario li:nth-child(3) {
    left: 164pt;
    top: 238pt;
}

.journey-map.narrative-1 .usual {
    left: 28pt;
    top: 109pt;
}

.journey-map.narrative-1 .usual li:first-child {
    top: 38pt;
}

.journey-map.narrative-1 .usual li:nth-child(2) {
    top: 131pt;
}

.journey-map.narrative-1 .usual li:nth-child(3) {
    top: 223pt;
}

.journey-map.narrative-1 .potential {
    left: 251pt;
    top: 302pt;
}

.journey-map.narrative-1 .potential li:first-child {
    top: 33pt;
}

.journey-map.narrative-1 .potential li:nth-child(2) {
    top: 133pt;
}

.journey-map.narrative-1 .potential li:nth-child(3) {
    top: 228pt;
}

.journey-map.narrative-2 li {
    width: 182pt;
}

.journey-map.narrative-2-fr .scenario {
    top: -47pt;
}

.journey-map.narrative-2 .scenario li:first-child {
    left: 164pt;
    top: 87pt;
}

.journey-map.narrative-2 .scenario li:nth-child(2) {
    left: 164pt;
    top: 180pt;
}

.journey-map.narrative-2 .scenario li:nth-child(3) {
    left: 164pt;
    top: 273pt;
}

.journey-map.narrative-2 .usual {
    left: 28pt;
    top: 112pt;
}

.journey-map.narrative-2 .usual li:first-child {
    top: 39pt;
}

.journey-map.narrative-2 .usual li:nth-child(2) {
    top: 157pt;
}

.journey-map.narrative-2 .usual li:nth-child(3) {
    top: 334pt;
}

.journey-map.narrative-2 .potential {
    left: 251pt;
    top: 180pt;
}

.journey-map.narrative-2 .potential li:first-child {
    top: 33pt;
}

.journey-map.narrative-2 .potential li:nth-child(2) {
    top: 174pt;
}

.journey-map.narrative-2 .potential li:nth-child(3) {
    top: 308pt;
}

.journey-map-page-1.narrative-3-fr {
    top: 291pt;
}

.journey-map.narrative-3 li {
    width: 182pt;
}

.journey-map.narrative-3 .scenario li:first-child {
    left: 164pt;
    top: 37pt;
}

.journey-map.narrative-3 .scenario li:nth-child(2) {
    left: 164pt;
    top: 133pt;
}

.journey-map.narrative-3 .scenario li:nth-child(3) {
    left: 164pt;
    top: 247pt;
}

.journey-map.narrative-3 .usual {
    left: 28pt;
    top: 116pt;
}

.journey-map.narrative-3 .usual li:first-child {
    top: 39pt;
}

.journey-map.narrative-3 .usual li:nth-child(2) {
    top: 154pt;
}

.journey-map.narrative-3 .usual li:nth-child(3) {
    top: 257pt;
}

.journey-map.narrative-3 .potential {
    left: 251pt;
    top: 170pt;
}

.journey-map.narrative-3 .potential li:first-child {
    top: 33pt;
}

.journey-map.narrative-3 .potential li:nth-child(2) {
    top: 150pt;
}

.journey-map.narrative-3 .potential li:nth-child(3) {
    top: 289pt;
}

.journey-map-page-1.narrative-4-fr {
    top: 279pt;
}

.journey-map.narrative-4 li {
    width: 182pt;
}

.journey-map.narrative-4 .scenario li:first-child {
    left: 164pt;
    top: 65pt;
}

.journey-map.narrative-4 .scenario li:nth-child(2) {
    left: 164pt;
    top: 217pt;
}

.journey-map.narrative-4 .scenario li:nth-child(3) {
    left: 164pt;
    top: 315pt;
}

.journey-map.narrative-4 .usual {
    left: 28pt;
    top: 120pt;
}

.journey-map.narrative-4 .usual li:first-child {
    top: 39pt;
}

.journey-map.narrative-4 .usual li:nth-child(2) {
    top: 200pt;
}

.journey-map.narrative-4 .usual li:nth-child(3) {
    top: 361pt;
}

.journey-map.narrative-4 .potential {
    left: 251pt;
    top: 133pt;
}

.journey-map.narrative-4 .potential li:first-child {
    top: 33pt;
}

.journey-map.narrative-4 .potential li:nth-child(2) {
    top: 193pt;
}

.journey-map.narrative-4 .potential li:nth-child(3) {
    top: 374pt;
}

.exploring-possibilities,
.edge-user-deep-dive {
    margin-top: 0;
    page-break-before: always;
}

.deep-dive-list > *:first-child {
    width: 100%;
}

.two-by-two-wrapper {
    break-inside: avoid;
    position: relative;
}

.two-by-two {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
    margin-bottom: var(--space, 2rem);
    margin-top: var(--space, 2rem);
    padding-left: var(--space, 2rem);
    width: 100%;
}

.two-by-two h4 {
    display: none;
}

.two-by-two > * {
    width: calc(50% - 2rem);
}

.two-by-two > *:first-child {
    align-self: flex-end;
    justify-items: flex-end;
}

.two-by-two > *:nth-child(2) {
    align-self: flex-end;
    justify-items: flex-start;
}

.two-by-two > *:nth-child(3) {
    align-self: flex-start;
    justify-items: flex-end;
}

.two-by-two > *:last-child {
    align-self: flex-start;
    justify-items: flex-start;
}

.factors-list {
    break-inside: avoid;
    columns: 2;
}

.yes-maybe-no img {
    height: 24pt;
    width: 24pt;
}
