/* stylelint-disable function-no-unknown, liberty/use-logical-spec, property-no-unknown */

@charset "UTF-8";

:root {
    /* Type Scale */
    --step--1: 10pt;
    --step-0: 12pt;
    --step-1: 14pt;
    --step-2: 16pt;
    --step-3: 18pt;
    --step-4: 24pt;
    --step-5: 44pt;
}

/* 2. Base */

/* Utils */

/* Base */
body {
    /** Typography **/

    font-family: var(--family-serif);
    font-size: var(--step-0);
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--color-green);
}

.flow > * + hr {
    margin-top: 2rem;
}

.flow > hr + * {
    margin-top: 2rem;
}

ol ul,
ul ul {
    margin-left: 1.5rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 0;
    page-break-after: avoid;
}

h1,
.chapter h2,
.back-matter h2 {
    font-size: var(--step-5);
}

h3 {
    font-size: var(--step-4);
}

blockquote {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

/* 3. Structure */

.title {
    page: title;
    page-break-before: auto;
    page-group: start;
}

.toc {
    counter-reset: page 1;
    page: toc;
    page-break-before: auto;
    page-group: start;
}

.chapter {
    page: chapter;
    page-break-before: auto;
    page-group: start;
}

.back-matter {
    color: var(--color-white);
    page: back-matter;
    page-break-before: auto;
    page-group: start;
}

@page {
    background-color: var(--color-white);
    margin: 1.125in;
    size: letter;
}

@page title {
    background-color: var(--color-lime);
    color: black;
}

@page toc {
    background-color: var(--color-black);
    color: var(--color-white);
}

@page chapter {
    @top-left {
        content: string(chapter-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page chapter:first-of-group {
    background-color: var(--color-black);

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }
}

@page back-matter {
    background-color: var(--color-black);
    color: var(--color-white);

    @top-left {
        content: string(back-matter-title);
        font-family: Diphylleia, serif;
    }

    @top-right {
        content: counter(page);
    }
}

@page back-matter:first-of-group {
    @top-left {
        content: normal;
    }
}

/* Front Matter */

.front-matter .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 8.75in;
    margin: 0;
    padding: 0;
}

.title .container {
    background-color: var(--color-lime);
    justify-content: flex-end;
}

.title h1 {
    line-height: 1.26;
    margin-top: 32pt;
}

.title h1 em {
    font-family: var(--family-serif-alt);
    font-style: normal;
    font-weight: var(--font-weight-normal);
}

.title .byline {
    font-size: var(--step-1);
    margin-top: 20pt;
}

.title .logos-and-version {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 210pt;
    width: 100%;
}

.title .logos-and-version svg + svg {
    margin-left: 20pt;
}

.title .logos-and-version .version {
    font-family: var(--family-display);
    font-size: var(--step--1);
    margin-left: auto;
}

.toc .container {
    background-color: var(--color-black);
    color: var(--color-white);
    justify-content: center;
}

.toc nav {
    margin-top: 24pt;
    width: 100%;
}

.toc ol {
    padding-left: 0;
}

.toc li {
    border-top: solid 1pt currentcolor;
    font-size: var(--step-1);
    list-style: none;
}

.toc li a {
    display: block;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-decoration: none;
}

.toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}

.chapter h2 {
    color: var(--color-lime);
    line-height: 1.26;
    margin-top: 4.5in;
    string-set: chapter-title content();
}

.chapter h2 em {
    color: var(--color-white);
    font-family: var(--family-serif-alt);
    font-style: normal;
    font-weight: var(--font-weight-normal);
}

.chapter h2 + *,
.chapter:has([id="about-this-guidebook"]) h3 {
    break-before: page;
    margin-top: 2.325in;
}

.chapter hr + h3,
.chapter.narrative h3 {
    break-before: auto;
}

.flow > h3 + * {
    --flow-space: 24pt;
}

.chapter.narrative h3:nth-of-type(2),
.chapter:has([id="about-this-guidebook"]) h3 {
    break-before: page;
}

.back-matter h2 {
    font-size: var(--step-4);
    line-height: 1.26;
    margin-top: 32pt;
    string-set: back-matter-title content();
}

.back-matter li {
    font-size: var(--step--1);
}

/* 4. Components */
reversed-list {
    display: block;
}

reversed-list ol {
    counter-reset: list-item var(--data-count);
}

reversed-list ol li {
    counter-increment: list-item -1;
}

reversed-list ol li::marker {
    content: counters(list-item, ".", decimal);
}

.two-column {
    margin-left: -1.125in;
    padding-right: 1.125rem;
    width: 8.5in;
}

.w1,
.w2,
.w3,
.w4 {
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.w1,
.w2,
.w3,
.w4,
.w7 {
    fill: var(--fl-bgColor, var(--fill));
}

.w1 {
    --fill: #e8b91c;
}

.w2 {
    --fill: #f6d872;
}

.w3 {
    --fill: #f9eec6;
}

.w4 {
    --fill: #fff;
}

.w5 {
    stroke: var(--fl-fgColor, #ad8911);
}

.w6 {
    fill: var(--fl-fgColor, #e8451c);
}

.w7 {
    fill: var(--fl-fgColor, var(--color-black));
}

.w8 {
    fill: var(--fl-fgColor, #cb3335);
}

.p1,
.p2,
.p3,
.p4,
.p6 {
    fill: var(--fl-bgColor, var(--fill));
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.p7 {
    stroke: var(--fl-fgColor, var(--color-black));
}

.p5,
.p8 {
    fill: var(--fl-fgColor, var(--fill));
}

.p1 {
    --fill: #7bd383;
}

.p2 {
    --fill: #d6e9cc;
}

.p3 {
    --fill: #b7e1b4;
}

.p4 {
    --fill: #99da9b;
}

.p5 {
    --fill: #2a842d;
}

.p6 {
    --fill: #e8a41c;
}

.p8 {
    --fill: var(--color-black);
}
