@charset "utf-8";

:root {
    /* Type Scale */

    /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1440,22,1.25,5,1,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    /* Step -1: 13.3333px → 17.6px */
    --step--1: clamp(0.8333rem, 0.7444rem + 0.3951vw, 1.1rem);

    /* Step 0: 16px → 22px */
    --step-0: clamp(1rem, 0.875rem + 0.5556vw, 1.375rem);

    /* Step 1: 19.2px → 27.5px */
    --step-1: clamp(1.2rem, 1.0271rem + 0.7685vw, 1.7188rem);

    /* Step 2: 23.04px → 34.375px */
    --step-2: clamp(1.44rem, 1.2039rem + 1.0495vw, 2.1484rem);

    /* Step 3: 27.648px → 42.9688px */
    --step-3: clamp(1.728rem, 1.4088rem + 1.4186vw, 2.6855rem);

    /* Step 4: 33.1776px → 53.7109px */
    --step-4: clamp(2.0736rem, 1.6458rem + 1.9012vw, 3.3569rem);

    /* Step 5: 39.8131px → 67.1387px */
    --step-5: clamp(2.4883rem, 1.919rem + 2.5301vw, 4.1962rem);

    /* Fixed Spacing */

    /* Space xs: 12px */
    --space-xs: 0.75rem;

    /* Space s: 18px */
    --space-s: 1.125rem;

    /* Space m: 24px */
    --space-m: 1.5rem;

    /* Space l: 32px */
    --space-l: 2rem;

    /* Space xl: 40px */
    --space-xl: 2.5rem;

    /* Space 2xl: 48px */
    --space-2xl: 3rem;

    /* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1440,32,1.25,5,2,&s=0.75|0.625,1.5|2|2.5|3|3.75|4.375|6|7|14,xs-2xs|l-6xl|4xl-l|5xl-3xl&g=s,l,xl,12 */

    /* Space 2xs: 10px → 20px */
    --space-fluid-2xs: clamp(0.625rem, 0.4167rem + 0.9259vw, 1.25rem);

    /* Space xs: 12px → 24px */
    --space-fluid-xs: clamp(0.75rem, 0.5rem + 1.1111vw, 1.5rem);

    /* Space s: 16px → 32px */
    --space-fluid-s: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);

    /* Space m: 24px → 48px */
    --space-fluid-m: clamp(1.5rem, 1rem + 2.2222vw, 3rem);

    /* Space l: 32px → 64px */
    --space-fluid-l: clamp(2rem, 1.3333rem + 2.963vw, 4rem);

    /* Space xl: 40px → 80px */
    --space-fluid-xl: clamp(2.5rem, 1.6667rem + 3.7037vw, 5rem);

    /* Space 2xl: 48px → 96px */
    --space-fluid-2xl: clamp(3rem, 2rem + 4.4444vw, 6rem);

    /* Space 3xl: 60px → 120px */
    --space-fluid-3xl: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);

    /* Space 4xl: 70px → 140px */
    --space-fluid-4xl: clamp(4.375rem, 2.9167rem + 6.4815vw, 8.75rem);

    /* Space 5xl: 96px → 192px */
    --space-fluid-5xl: clamp(6rem, 4rem + 8.8889vw, 12rem);

    /* Space 6xl: 112px → 224px */
    --space-fluid-6xl: clamp(7rem, 4.6667rem + 10.3704vw, 14rem);

    /* Space 7xl: 224px → 448px */
    --space-fluid-7xl: clamp(14rem, 9.3333rem + 20.7407vw, 28rem);

    /* One-up pairs */

    /* Space 2xs-xs: 10px → 24px */
    --space-fluid-2xs-xs: clamp(0.625rem, 0.3333rem + 1.2963vw, 1.5rem);

    /* Space xs-s: 12px → 32px */
    --space-fluid-xs-s: clamp(0.75rem, 0.3333rem + 1.8519vw, 2rem);

    /* Space s-m: 16px → 48px */
    --space-fluid-s-m: clamp(1rem, 0.3333rem + 2.963vw, 3rem);

    /* Space m-l: 24px → 64px */
    --space-fluid-m-l: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);

    /* Space l-xl: 32px → 80px */
    --space-fluid-l-xl: clamp(2rem, 1rem + 4.4444vw, 5rem);

    /* Space xl-2xl: 40px → 96px */
    --space-fluid-xl-2xl: clamp(2.5rem, 1.3333rem + 5.1852vw, 6rem);

    /* Space 2xl-3xl: 48px → 120px */
    --space-fluid-2xl-3xl: clamp(3rem, 1.5rem + 6.6667vw, 7.5rem);

    /* Space 3xl-4xl: 60px → 140px */
    --space-fluid-3xl-4xl: clamp(3.75rem, 2.0833rem + 7.4074vw, 8.75rem);

    /* Space 4xl-5xl: 70px → 192px */
    --space-fluid-4xl-5xl: clamp(4.375rem, 1.8333rem + 11.2963vw, 12rem);

    /* Space 5xl-6xl: 96px → 224px */
    --space-fluid-5xl-6xl: clamp(6rem, 3.3333rem + 11.8519vw, 14rem);

    /* Space 6xl-7xl: 112px → 448px */
    --space-fluid-6xl-7xl: clamp(7rem, 0rem + 31.1111vw, 28rem);

    /* Custom pairs */

    /* Space xs-2xs: 12px → 20px */
    --space-fluid-xs-2xs: clamp(0.75rem, 0.5833rem + 0.7407vw, 1.25rem);

    /* Space l-6xl: 32px → 224px */
    --space-fluid-l-6xl: clamp(2rem, -2rem + 17.7778vw, 14rem);

    /* Space 4xl-l: 70px → 64px */
    --space-fluid-4xl-l: clamp(4rem, 4.5rem + -0.5556vw, 4.375rem);

    /* Space 5xl-3xl: 96px → 120px */
    --space-fluid-5xl-3xl: clamp(6rem, 5.5rem + 2.2222vw, 7.5rem);

    /* Space gutter: 32px → 224px */
    --gutter: var(--space-fluid-l-6xl);
}

/* General */

body {
    background-color: var(--fl-bgColor, var(--color-white));
    color: var(--fl-fgColor, var(--color-soft-black));
    font-size: var(--step-0);
    line-height: var(--fl-lineSpace-factor, 1.6);
}

[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) {
    background-color: var(--fl-bgColor);
    color: var(--fl-fgColor);
}

[class*="fl-font"] {
    --family-display: var(--fl-font-family);
    --family-serif: var(--fl-font-family);
    --family-serif-alt: var(--fl-font-family);
}

.wrapper {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 90rem;
    padding-inline: var(--gutter);
}

footer {
    background-color: var(--fl-bgColor, var(--color-soft-black));
    color: var(--fl-fgColor, var(--color-white));
    padding-block-end: var(--space-fluid-xl-2xl);
    padding-block-start: var(--space-l);
}

.idrc-ocadu .inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-fluid-xs);
}

/* Header and navigation */

.header,
.skip-container,
.navigation {
    font-family: var(--family-display);
    font-size: var(--step--1);
    font-weight: var(--font-weight-semibold);

    .wrapper {
        max-inline-size: 103rem;
    }
}

/* Skip to content */

.skip-container {
    inline-size: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;

    .wrapper {
        margin-inline: auto;
        padding-inline: 0;
        position: relative;
    }
}

.skip-container:focus-within {
    z-index: 0;
}

.skip {
    block-size: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}

.skip:focus {
    align-items: center;
    background: var(--fl-linkFgColor, var(--color-lime));
    block-size: var(--space-fluid-s);
    block-size: var(--space-fluid-4xl-l);
    clip: auto;
    clip-path: none;
    color: var(--fl-linkBgColor, var(--color-black));
    display: flex;
    inline-size: 100%;
    justify-content: center;
    outline: 1px solid transparent;
    overflow: auto;
    z-index: 1;
}

@media (width >= 60rem) {
    .skip-container:focus-within {
        align-items: center;
        block-size: var(--space-fluid-l);
        display: flex;
        padding-inline-start: var(--space-fluid-s);
    }

    .skip:focus {
        block-size: var(--space-fluid-s);
        max-inline-size: 24.5rem;
    }
}

/* Links */

a:not([class]) {
    background-color: var(--fl-linkBgColor, var(--color-lime));
    color: var(--fl-linkFgColor, currentColor);

    &:visited {
        color: currentcolor;
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--fl-linkFgColor, var(--color-black)) inset;
    }

    &:focus,
    &:active {
        background-color: var(--fl-linkFgColor, var(--color-soft-black));
        box-shadow: 0 0 0 1.5px var(--fl-linkBgColor, var(--color-lime)) inset;
        color: var(--fl-linkBgColor, var(--color-lime));
        outline: solid 1px transparent;

        &:visited {
            color: var(--fl-linkBgColor, var(--color-lime));
        }
    }
}

a {
    block-size: auto;
    font-size: calc(var(--fl-enhance-font-size-factor, 1) * 100%);
    inline-size: max-content;

    svg {
        display: block;
    }
}

.back-matter main a:not([class]) {
    background-color: transparent;

    &:hover {
        background-color: var(--fl-linkBgColor, var(--color-lime));
    }

    &:focus,
    &:active {
        background-color: var(--fl-linkFgColor, var(--color-soft-black));
        color: var(--fl-linkBgColor, var(--color-lime));
    }
}

header a:not([class]),
footer a:not([class]) {
    background-color: transparent;

    &:has(svg) {
        display: inline-block;
        inline-size: max-content;
    }

    &:visited {
        color: var(--fl-linkFgColor, var(--color-white));
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--fl-linkFgColor, var(--color-white)) inset;
    }

    &:focus,
    &:active,
    &:visited:focus,
    &:visited:active {
        background-color: var(--fl-linkFgColor, var(--color-lime));
        box-shadow: 0 0 0 1.5px var(--fl-linkFgColor, var(--color-lime)) inset;
        color: var(--fl-linkBgColor, var(--color-soft-black));
        outline: solid 1px transparent;
    }
}

a.standalone {
    align-items: center;
    background-color: var(--fl-linkBgColor, var(--color-lime));
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--fl-linkFgColor, var(--color-black)) inset;
    color: var(--fl-linkFgColor, var(--color-soft-black));
    display: inline-flex;
    gap: var(--space-xs);
    padding-block-start: 2px;
    padding-inline: var(--space-xs);
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 0 1.5px var(--fl-linkFgColor, var(--color-black)) inset;
    }

    &:focus,
    &:active {
        background-color: var(--fl-linkFgColor, var(--color-soft-black));
        box-shadow: 0 0 0 1.5px var(--fl-linkBgColor, var(--color-lime)) inset;
        color: var(--fl-linkBgColor, var(--color-lime));
        outline: solid 1px transparent;
    }
}

/* Header */

.header {
    background-color: var(--fl-bgColor, var(--color-black));
    color: var(--fl-fgColor, var(--color-white));

    .wrapper {
        align-items: flex-start;
        block-size: var(--space-fluid-4xl-l);
        flex-direction: column;
        justify-content: center;
        padding-inline: var(--space-l);
    }
}

.header a {
    display: inline-block;
}

.header .language li {
    display: inline;
}

.header .language li + li::before {
    content: "/";
}

@media (width >= 60rem) {
    .header .wrapper {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Brand and Navigation Toggle */

.brand-and-toggle a em::after,
h1 em::after {
    content: "";
    display: block;
}

.brand-and-toggle {
    align-items: center;
    block-size: auto;
    display: flex;
    justify-content: space-between;
    min-block-size: var(--space-fluid-5xl-3xl);

    a {
        block-size: auto;
        box-shadow: none;
        font-family: var(--family-display);
        font-size: var(--step-1);
        font-weight: var(--font-weight-extrabold);
        margin-inline-start: calc(-1 * var(--space-xs));
        min-inline-size: 15rem;
        padding-block: var(--space-xs);
        text-decoration: none;

        em {
            font-family: var(--family-serif-alt);
            font-style: normal;
        }

        span {
            display: block;
        }

        svg {
            display: none;
            inline-size: 8rem;
        }
    }
}

.home .brand-and-toggle a {
    min-inline-size: max-content;

    svg {
        display: block;
        fill: currentcolor;
    }

    span {
        display: none;
    }
}

@media (width >= 60rem) {
    .brand-and-toggle a svg {
        inline-size: 10.75rem;
    }
}

@media (width >= 90rem) {
    .brand-and-toggle a {
        inline-size: 17.5rem;
    }

    .brand-and-toggle a em::after,
    h1 em::after {
        display: none;
    }
}

/* Navigation */

.navigation {
    background-color: var(--fl-bgColor, var(--color-lime));

    .wrapper {
        min-block-size: var(--space-fluid-5xl-3xl);
        padding-inline: var(--space-m);
    }
}

.navigation [aria-expanded] {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--fl-linkFgColor);
    display: flex;
    justify-content: center;
    margin-block-start: 0;

    &:hover {
        box-shadow: 0 0 0 1.5px var(--fl-linkFgColor, var(--color-black)) inset;
    }

    &:focus {
        background-color: var(--fl-linkFgColor, var(--color-black));
        color: var(--fl-linkBgColor, var(--color-lime));
        outline: solid 1px transparent;
    }
}

.navigation .brand-and-toggle [aria-expanded] {
    block-size: var(--space-2xl);
    inline-size: var(--space-2xl);
    padding: 0;

    .menu__close {
        display: none;
    }
}

.navigation .brand-and-toggle [aria-expanded="true"] {
    .menu__open {
        display: none;
    }

    .menu__close {
        display: block;
    }
}

.navigation .menu > ul {
    inline-size: 100vw;
    margin-inline-start: calc(-1 * var(--space-m));
    position: relative;
    z-index: 1;
}

.navigation:has(.brand-and-toggle [aria-expanded="false"]) .menu > ul {
    display: none;
}

.navigation .menu > ul > li {
    position: relative;
}

.navigation li:has([aria-expanded]) {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    grid-template-columns: auto 1fr;
}

.navigation li a {
    align-items: center;
    background-color: var(--fl-linkBgColor, var(--color-lime));
    block-size: var(--space-2xl);
    color: var(--fl-linkFgColor, var(--color-black));
    display: flex;
    inline-size: 100%;
    justify-content: flex-start;
    margin-inline-start: 0;
    padding-inline: var(--space-m);
    text-decoration: none;
}

.navigation li:has([aria-expanded]) > a {
    inline-size: max-content;
}

.navigation li a[aria-current="page"] {
    text-decoration: underline;
}

.navigation li a:visited {
    color: var(--fl-linkFgColor, var(--color-black));
}

.navigation li a:hover {
    box-shadow: 0 0 0 1.5px var(--fl-linkFgColor, var(--color-black)) inset;
}

.navigation li a:focus {
    background: var(--fl-linkFgColor, var(--color-black));
    box-shadow: 0 0 0 1.5px var(--fl-linkBgColor, var(--color-lime)) inset;
    color: var(--fl-linkBgColor, var(--color-lime));
    outline: 1px solid transparent;
}

.navigation li li a {
    background: var(--fl-linkBgColor, var(--color-dark-lime));
    block-size: auto;
    inline-size: 100vw;
    min-block-size: var(--space-2xl);
    padding-inline-start: var(--space-fluid-4xl-l);
}

.navigation li [aria-expanded] {
    block-size: var(--space-2xl);
    inline-size: 100%;
    justify-content: flex-start;
    padding-inline: var(--space-xs);
}

.navigation li [aria-expanded="true"] {
    background-color: var(--fl-linkBgColor, var(--color-black));
    color: var(--fl-linkFgColor, var(--color-lime));
}

.navigation li:has([aria-expanded="true"]) > a {
    box-shadow: 0 0 0 3px var(--fl-linkFgColor, var(--color-black)) inset;
}

.navigation li [aria-expanded] + ul {
    display: none;
}

.navigation li [aria-expanded="true"] + ul {
    display: flex;
    flex-direction: column;
}

.navigation li ul {
    display: block;
    grid-column: 1 / 3;
    margin-block-start: 0;
    margin-inline-start: 0;
    position: relative;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--space-2xl);
}

@media (width >= 60rem) {
    .navigation .brand-and-toggle {
        min-block-size: auto;
    }

    .navigation .brand-and-toggle [aria-expanded] {
        display: none;
    }

    .navigation:has(.brand-and-toggle [aria-expanded="false"]) .menu > ul {
        display: flex;
    }

    .navigation .wrapper,
    .navigation .menu > ul {
        align-items: center;
        display: flex;
    }

    .navigation .wrapper {
        block-size: auto;
        justify-content: space-between;
        min-block-size: var(--space-fluid-xl);
    }

    .navigation .menu > ul {
        inline-size: auto;
        margin-inline-end: calc(-1 * var(--space-m));
        margin-inline-start: auto;
    }

    .navigation li {
        display: flex;
    }

    .navigation li:has([aria-expanded]) {
        display: flex;
    }

    .navigation li a,
    .navigation li [aria-expanded] {
        block-size: var(--space-fluid-3xl);
        justify-content: center;
        padding-inline: var(--space-s);
    }

    .navigation li a {
        inline-size: auto;
        text-align: center;
    }

    .navigation li li {
        block-size: auto;
        inline-size: 100%;
    }

    .navigation li li a {
        block-size: auto;
        inline-size: 100%;
        justify-content: flex-start;
        min-block-size: var(--space-fluid-xl);
        padding-block: var(--space-m);
        padding-inline: var(--space-fluid-s);
        text-align: start;
    }

    .navigation li ul {
        flex-direction: column;
        min-inline-size: 100%;
        position: absolute;
        right: 0;
        top: var(--space-fluid-3xl);
    }
}

/* Title */

.title {
    background-color: var(--fl-bgColor, var(--color-black));
    color: var(--fl-fgColor, var(--color-lime));

    em {
        color: var(--fl-fgColor, var(--color-white));
    }
}

.home .title {
    background-color: var(--fl-bgColor, var(--color-lime));
    color: var(--fl-fgColor, var(--color-black));

    em {
        color: var(--fl-fgColor, var(--color-black));
    }
}

/* Utilities */

.flex {
    display: flex;
}

.hide {
    display: none;
}

.block {
    display: block;
}

@media (width >= 60rem) {
    .md\:hide {
        display: none;
    }

    .md\:block {
        display: block;
    }

    .md\:inline {
        display: inline;
    }
}

@media (width >= 90rem) {
    .lg\:hide {
        display: none;
    }

    .lg\:block {
        display: block;
    }
}

.title .wrapper {
    padding-block-end: var(--space-fluid-l-xl);
    padding-block-start: var(--space-fluid-m);
}

article .wrapper {
    padding-block-end: var(--space-fluid-l-xl);
    padding-block-start: var(--space-fluid-xl);
}

.flow > h2 + * {
    --flow-space: var(--space-fluid-m);
}

.flow > * + h3 {
    --flow-space: var(--space-fluid-l-xl);
}

.flow > h3 + * {
    --flow-space: var(--space-fluid-s);
}

.flow > p + p {
    --flow-space: var(--space-fluid-xs-2xs);
}

address,
.small {
    font-size: var(--step--1);
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
.h5 {
    font-family: var(--family-display);
    line-height: var(--fl-lineSpace-factor, 1);
}

h1 em,
h2 em {
    font-family: var(--family-serif-alt);
    font-style: normal;
    font-weight: var(--font-weight-normal);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
    margin-block-start: 0;
}

h5,
.h5 {
    font-size: var(--step-1);
    font-weight: var(--font-weight-extrabold);
}

.grid {
    display: grid;
    gap: var(--space-fluid-m);
    grid-template-rows: repeat(4, auto);
}

.grid > *::before {
    border-block-start: 2px solid currentcolor;
    content: "";
    display: block;
    inline-size: 50%;
    margin-block-end: var(--space-l);
}

@media (width >= 60rem) {
    .grid {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .grid > *::before {
        inline-size: 100%;
    }

    .grid > *:first-of-type::before {
        inline-size: 50%;
    }
}

.w1,
.w2,
.w3,
.w4 {
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.w1,
.w2,
.w3,
.w4,
.w7 {
    fill: var(--fl-bgColor, var(--fill));
}

.w1 {
    --fill: #e8b91c;
}

.w2 {
    --fill: #f6d872;
}

.w3 {
    --fill: #f9eec6;
}

.w4 {
    --fill: #fff;
}

.w5 {
    stroke: var(--fl-fgColor, #ad8911);
}

.w6 {
    fill: var(--fl-fgColor, #e8451c);
}

.w7 {
    fill: var(--fl-fgColor, var(--color-black));
}

.w8 {
    fill: var(--fl-fgColor, #cb3335);
}

.p1,
.p2,
.p3,
.p4,
.p6 {
    fill: var(--fl-bgColor, var(--fill));
    stroke: var(--fl-fgColor, transparent);
    stroke-width: 1px;
}

.p7 {
    stroke: var(--fl-fgColor, var(--color-black));
}

.p5,
.p8 {
    fill: var(--fl-fgColor, var(--fill));
}

.p1 {
    --fill: #7bd383;
}

.p2 {
    --fill: #d6e9cc;
}

.p3 {
    --fill: #b7e1b4;
}

.p4 {
    --fill: #99da9b;
}

.p5 {
    --fill: #2a842d;
}

.p6 {
    --fill: #e8a41c;
}

.p8 {
    --fill: var(--color-black);
}
