name: Render PDF

on:
  workflow_dispatch:
    inputs:
      use-test-api:
        description: "Use test API"
        required: true
        type: boolean
        default: true

jobs:
  render-pdf:
    timeout-minutes: 5
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}

    name: Render PDF

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GHA_APP_ID }}
          private-key: ${{ secrets.GHA_PRIVATE_KEY }}
      - name: Configure DocRaptor
        run: |
          cat <<-'DOCUMENT_OPTIONS' > docraptor.json
          {
            "test": ${{ github.events.inputs.use-test-api }},
            "document_type": "pdf",
            "document_url": "https://financial-inclusion.inclusivedesign.ca/en/export/index.html",
            "pipeline": 11,
            "prince_options": {
              "media": "print",
              "baseurl": "https://financial-inclusion.inclusivedesign.ca",
            }
          }
          DOCUMENT_OPTIONS
      - name: Store config as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: docraptor-config
          path: docraptor.json
      - name: Render PDF
        run: |
          curl https://${{ env.DOCRAPTOR_API_KEY }}@api.docraptor.com/docs \
            --fail --silent --show-error \
            --header "Content-Type:application/json" \
            --data @docraptor.json \
            > guidebook-for-financial-inclusion.pdf
        env:
          DOCRAPTOR_API_KEY: ${{ github.events.inputs.use-test-api == true && 'YOUR_API_KEY_HERE' || secrets.DOCRAPTOR_API_KEY }}
      - name: Store PDF as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: guidebook-for-financial-inclusion
          path: guidebook-for-financial-inclusion.pdf
