name: Render PDFs

on:
  workflow_dispatch:
    inputs:
      render-for-production:
        description: "Render for production"
        type: boolean
        default: false

jobs:
  render-pdfs:
    timeout-minutes: 5
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}

    name: Render PDF

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GHA_APP_ID }}
          private-key: ${{ secrets.GHA_PRIVATE_KEY }}
      - uses: actions/checkout@v5
      - name: Download Prince .deb file
        run: curl https://www.princexml.com/download/prince_16.1-1_ubuntu24.04_amd64.deb -O
      - name: Install Prince and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libavif13 libtiff5
          sudo apt-get install ./prince_16.1-1_ubuntu24.04_amd64.deb
          which prince
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Render PDFs
        run: npm run render:pdf:local
        if: ${{ ! inputs.render-for-production }}
      - name: Render PDFs for production
        if: ${{ inputs.render-for-production }}
        run: npm run render:pdf
        env:
          DOCRAPTOR_API_KEY: ${{ secrets.DOCRAPTOR_API_KEY }}
      - uses: stefanzweifel/git-auto-commit-action@v7
